<h1 mat-dialog-title>Login</h1>
<div mat-dialog-content>
<form [formGroup]="loginForm">
    <mat-form-field appearance="outline">
      <mat-label>Username</mat-label>
      <input formControlName="username" matInput placeholder="Enter username">
      <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input formControlName="password" matInput [type]="showPassword ? 'text' : 'password'" placeholder="Enter pasword">
        <mat-icon matSuffix (click)="togglePasswordVisibility()">visibility</mat-icon>
    </mat-form-field>

</form>

    <div mat-dialog-action [align]="'end'">
        <button mat-raised-button color="primary" mat-dialog-close (click)="login()">Login</button>
        <button style="margin-left: 10px;" mat-raised-button color="warn" (click)="exit()" mat-dialog-close>Exit</button>
    </div>

</div>