<div class="container px-4 px-lg-5">
    <section>
        <br/>
        <div class="container" style="text-align: center;"><h1 class="font-weight-light">Welcome to Bookstore Author !!</h1></div>
    </section>
    <!-- <mat-grid-list cols="3" rowHeight="1:1">
      <mat-grid-tile>
        <div class="col-lg-25"><img class="img-fluid rounded mb-4 mb-lg-10" src="assets/author1.jpg" alt="..." /></div>
      </mat-grid-tile>
      <mat-grid-tile  [colspan]="2">
        <div class="col-lg-5">
            <h1 class="font-weight-light">An Author is the first step to knowledge</h1>
            <p>An author is a person who writes books, stories, poems, or other written work. Their writing can be truth or fiction, short or long. Often, author is a word for a professional writer, but any person who writes may also be called that.

                Sometimes, a person who creates something that is not prose is called an author. Someone who writes music may be called the author of that piece of music, though we would usually call that person a composer. In the film world, the French word for author, auteur, is often used about someone who has been both the writer and director of a movie.
                
                In biology, the first person to write an article that gives a name to and describes a type of living thing is the author of that name.
                
                In copyright law, the author is the first owner of copyright.[1] Such laws also apply to other works of art such as pictures or music</p>
        </div>
      </mat-grid-tile>
    </mat-grid-list> -->
</div>