mat-grid-tile {
    background: lightgoldenrodyellow;
  }

.example-spacer{
  flex: 1 1 auto;
}
/* 
mat-form-field {
  width: 15%;
  } */

  button {
    margin: 5px;
  }

.reader-buttons{
  background-color: deepskyblue;
}
  