<div class="container col-md-5" style="margin-top: 25px;margin-bottom: 25px;">
    
    <div class="text-center" style="margin-bottom: 20px;">
        <h1 style="color: blueviolet;font-size: xx-large;" mat-dialog-title>Create a Book</h1>
    </div>

<!-- <div mat-dialog-content> -->
<form class="example-form" [formGroup]="bookForm">
    <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input formControlName="title" matInput placeholder="Enter title...">
    </mat-form-field>
    &nbsp;
    <mat-form-field appearance="outline">
        <mat-label>Category</mat-label>
        <input formControlName="category" matInput placeholder="Enter category...">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Author</mat-label>
        <input formControlName="author" matInput [(ngModel)]="author" placeholder="Enter author name...">
    </mat-form-field>
    &nbsp;
    <mat-form-field appearance="outline">
      <mat-label>Price</mat-label>
      <input formControlName="price" matInput placeholder="Enter price...">
      <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Publisher</mat-label>
        <input formControlName="publisher" matInput placeholder="Enter publisher...">
    </mat-form-field>
    &nbsp;
    <mat-form-field appearance="outline">
        <mat-label>Published Date</mat-label>
        <input formControlName="publishedDate" matInput [matDatepicker]="picker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    &nbsp;
    <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Content</mat-label>
        <textarea formControlName="content" matInput placeholder="Enter content..."></textarea>
    </mat-form-field>
    <br/>
    <!-- Upload logo section -->
            <h3>Upload Image</h3>
            <button type="button" color="accent" mat-raised-button (click)="fileInput.click()">Choose File</button>
            <input hidden (change)="onFileChanged($event)" #fileInput type="file">
            <span class="file-name">{{selectedFile?.name}}</span>
            &nbsp;
    
</form>
</div>
    
    <div mat-dialog-action [align]="'center'" style="margin-bottom: 40px;">
        &nbsp;<br/>
        <button mat-raised-button color="primary" mat-dialog-close (click)="addBook()">Create</button>
        <button style="margin-left: 10px;" mat-raised-button color="warn" (click)="goBack()" mat-dialog-close>Go Back</button>
    </div>

<!-- </div> -->

