
<div style="margin-top: 20px;margin-bottom: 20px;">
    <h2 class="text-center" style="color: black;">Checkout your subscriptions {{user.userFirstName}}:</h2>
    <div class="container">
       <h5 *ngIf="userSubscriptions.length==0" style="color: red">Sorry, {{user.userFirstName}}, you have no orders!</h5>
    <table class="table table-striped">
        <thead>
            <tr *ngIf="userSubscriptions.length>0">
                <th>Subscription No.</th>
                <th>Book Title</th>
                <th>Status</th>
                <th>Subscribed on</th>
                <th>Subscription Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let subscription of userSubscriptions">
                <td>{{subscription.subscriptionId}}</td>
                <td>{{subscription.bookId}}</td>
                <td>{{subscription.subscriptionStatus}}</td>
                <td>{{subscription.subscriptionDate}}</td>
                <td><span>&#8377;</span>{{subscription.subscriptionPrice}}</td>
                <!-- <td>
                    <button type="button" class="btn btn-info" (click)="goToUpdateOrderStatus(order.orderId, order.orderStatus)">Cancel</button>&nbsp;
                </td> -->
                <td>
                    <button mat-raised-button color="primary" class="reader-buttons" (click)="readBook()">Read Book</button>&nbsp;
                    <button mat-raised-button color="warn" class="reader-buttons" (click)="cancelSubscription()">Unsubscribe</button>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
    </div>